source /etc/default/epages6
export EPAGES_TESTSITE=Store
export STORE=Store

export PATH=$PATH:{{ ansible_env['HOME'] }}/eclipse

alias tailerror="tail -f -n50 $EPAGES_LOG/error.log"
alias caterror="cat $EPAGES_LOG/error.log"
alias deleteerror="truncate --size 0 $EPAGES_LOG/error.log"

alias taildebug="tail -f -n50 $EPAGES_LOG/debug.log"
alias catdebug="cat $EPAGES_LOG/debug.log"
alias deletedebug="truncate --size 0 $EPAGES_LOG/debug.log"

alias tailcommunication="tail -f -n50 $EPAGES_LOG/communication.log"
alias catcommunication="cat $EPAGES_LOG/communication.log"
alias deletecommunication="truncate --size 0 $EPAGES_LOG/communication.log"

alias tailinfo="tail -f -n50 $EPAGES_LOG/info.log"
alias catinfo="cat $EPAGES_LOG/info.log"
alias deleteinfo="truncate --size 0 $EPAGES_LOG/info.log"

alias deletelogs="truncate --size 0 $EPAGES_LOG/*.log"

alias ep6="service epages6"
alias epj="service epagesj"

alias cdcartridges="cd $EPAGES_CARTRIDGES/DE_EPAGES"
alias buildmakefile="$PERL Makefile.PL"
alias makereinstall="cdcartridges;buildmakefile;make reinstall"