alias taileperror="tail -f -n50 $EPAGES_LOG/error.log"
alias tailepdebug="tail -f -n50 $EPAGES_LOG/debug.log"
alias tailepcommunication="tail -f -n50 $EPAGES_LOG/communication.log"
alias restartep6="service epages6 start"
alias stopepj="service epagesj stop"
