alias sshblue='ssh root@blueteam.epages.com'
alias sshnavy='ssh root@navyteam.epages.com'
alias sshthirdparty='ssh root@thirdparty.epages.com'
alias sshtrex='ssh root@thirdpartyrex.epages.com'
alias sshtspoon='ssh root@thirdpartyspoon.epages.com'
alias sshnostrum='ssh root@nostrum.vm-intern.epages.com'
alias sshoceantest='ssh root@ocean-test.epages.systems'
alias sshwording='ssh root@teamocean-wording.epages.com'
alias sshoceanunity='ssh root@ocean-unity.epages.systems'
alias sshbarcelona='ssh root@barcelona.epages.systems'
alias sshhamburg='ssh root@hamburg.epages.systems'
alias sshbugsbunny='ssh root@bugs-bunny.epages.systems'

alias sshinternblue='ssh root@blueteam-vm-01.intern.epages.de'
alias sshinternnavy='ssh root@navyteam-vm-01.intern.epages.de'

alias sshtrident='ssh root@trident.vm-intern.epages.com'
alias ssh3rdparty='ssh root@3rdparty.vm-intern.epages.com'

