alias tailerror="tail -f -n50 $EPAGES_LOG/error.log"
alias caterror="cat $EPAGES_LOG/error.log"
alias deleteerror="rm -f $EPAGES_LOG/error.log"

alias taildebug="tail -f -n50 $EPAGES_LOG/debug.log"
alias catdebug="cat $EPAGES_LOG/debug.log"
alias deletedebug="rm -f $EPAGES_LOG/debug.log"

alias tailcommunication="tail -f -n50 $EPAGES_LOG/communication.log"
alias catcommunication="cat $EPAGES_LOG/communication.log"
alias deletecommunication="rm -f $EPAGES_LOG/communication.log"

alias deletelogs="rm -rf $EPAGES_LOG/*"

alias ep6start="service epages6 start"
alias ep6restart="service epages6 start_service"
alias ep6stop="service epages6 stop"

alias epjstatus="service epagesj status"
alias epjstart="service epagesj start"
alias epjrestart="service epagesj restart"
alias epjstop="service epagesj stop"

alias cdcartridges="cd $EPAGES_CARTRIDGES/DE_EPAGES"
