alias sshblue='ssh root@blueteam.epages.com'
alias sshnavy='ssh root@navyteam.epages.com'
alias sshthirdparty='ssh root@thirdparty.epages.com'
alias sshtrex='ssh root@thirdpartyrex.epages.com'
alias sshtspoon='ssh root@thirdpartyspoon.epages.com'

alias sshinternblue='ssh root@blueteam-vm-01.intern.epages.de'
alias sshinternblue='ssh root@navyteam-vm-01.intern.epages.de'


