alias gstatus="git status"
alias gcommit="git add -A && git commit"
alias grebase="git pull --rebase --prune"
alias gnewbranch="git checkout -b"
alias gswitchbranch="git checkout"
alias greset="git reset HEAD --hard"
alias gltree="git log --graph --oneline --decorate --all"
alias glfiles="git log --graph --oneline --decorate --all --name-status"
alias gl="git log --oneline"
alias gpush="git push"

